<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}">
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
          Preview</button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
          Next</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comments of dish.comments">
        <h4 mat-line>{{ comments.comment }}</h4>
        <p mat-line>{{ comments.rating }} Stars</p>
        <p mat-line>-- {{ comments.author }} {{ comments.date | date}}</p>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item *ngIf="commentForm.valid">
        <h4 mat-line>{{ commentPrev.author }}</h4>
        <p mat-line>{{ commentPrev.rating }} Stars</p>
        <p mat-line>-- {{ commentPrev.comment }}</p>
      </mat-list-item>
    </mat-list>
    <!-- #cform="ngForm"  -->
    <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput placeholder="Name" formControlName="name" type="text">
          <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider thumbLabel [displayWith]="formatLabel" min="0" max="5" step="1" tickInterval="4"
          formControlName="rating"></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Your Comment" formControlName="comment" rows=12></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white"
        [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>
</div>
