<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json }}</p>

<form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="User Name" type="text" [(ngModel)]="user.userName" name="userName" #userName="ngModel" required>
        <mat-error *ngIf="userName.errors?.required">User Name is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
        <mat-error *ngIf="userName.errors?.required">Password is Required</mat-error>
      </mat-form-field>
      <mat-checkbox name="remember" [(ngModel)]="user.remember">Remember</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button class="background-primary text-floral-white" type="submit" [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>
